
body {
  /* margin:70px; */
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  overflow-x: hidden;
}
.nav {
  position: sticky;
  background-color:#001928;
  margin-top: -15px;
  z-index: 1;
  width:100%;
  height:80px;
  border-bottom: 1px solid #88fcdc;
  overflow:hidden;;
  box-shadow: 0px 1px 30px rgb(182, 231, 223);

}
.logoNav {
  padding-top:1rem;
  height:40px;
  width:40px;  
}
li {
  text-align: center;
  padding:3%;
  display:inline;
  list-style: none;
  color:white;
}
.navtext{
  text-decoration: none;
  color:white;
}

.first {
  background-color: rgb(17, 17, 38);
    background-image:url("../src/images/background1.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 100%; 
    box-shadow: 0px 2px 50px gray;
    height:100vh;

}

.news {
  height:100vh;
  overflow: hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  column-gap: 1%;
}
.container1 {
  width:350px;
  height:500px;
  perspective:800px;

}
.container2 {
  width:350px;
  height:500px;
  perspective:800px;
}

.container1:hover > .card{
  cursor:pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}
.container2:hover > .card{
  cursor:pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}
.card {

  height: 100%;
  width:100%;
  position:relative;
  transition:transform 1500ms;
  transform-style: preserve-3d;
  animation-name: wipe-enter;
  animation-duration: 4s;
  /* animation-delay: 5s; */
  animation-iteration-count: 1;
  
}
.front1, .front2, .front3, .front4, .front5,
.back {
  height:100%;
  width:100%;
  border-radius: 2rem;
  box-shadow:0 0 5px 2px rgba(50, 50, 50, 0.25);
  position:absolute;
  backface-visibility: hidden;
}
.front1 {
  background-image:url("../src/images/apple.jpeg");
  background-size: cover;
  background-position: 50% 50%;
}
.front2 {
  background-image:url("../src/images/tesla.jpeg");
  background-size: cover;
  background-position: 100%;
}
.front3 {
  background-image:url("../src/images/microsoft.jpeg");
  background-size: cover;
  background-position: 50% 50%;
}
.front4 {
  background-image:url("../src/images/facebook.jpeg");
  background-size: cover;
  background-position: 100%;
}
.front5 {
  background-image:url("../src/images/google.jpeg");
  background-size: cover;
  background-position: 100%;
}

.back {
  background-color:#001928;
  color:white;
  line-height: 150%;

  transform: rotateY(180deg) rotateZ(180deg);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  gap: 5rem;
  overflow-x:scroll;
  
}
@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
.title {
/* border:1px solid white;   */
display:flex;
 justify-content: center;
 align-items: center;
  height:40vh;
  width:40vw;
  position:absolute;
  left:30%;
  top:10rem;
}

/* .video {
} */
/* video {
  margin-top: 4%;
    height:50vh;
    display: inline;
} */
/* 
.hello {
    position:absolute;
    top:20%;
    right:10%;
    display:inline-block;
} */

.tech{
    /* background-color: pink; */
    color:white;
    display:inline;
    position:absolute;
    left:20rem;
    font-size:8rem;
    top:15rem;
    animation: 3s ease-out 0s 1 slideFromTop;
    font-weight: 1;
  }
  @keyframes slideFromTop {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0%);
    }
  }

.tweet{
    /* background-color: green; */
    display:inline;
    color:white;
    position:absolute;
    font-size:8rem;
    left:50rem;
    top:15rem;
    font-weight: 1;
    animation: 3s ease-out 0s 1 slideFromBottom;

  }
  @keyframes slideFromBottom {
    0% {
      transform: translateY(300%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .logo {
    position:absolute;
    left:40rem;
    height:100px;
    width:100px;
    top:23rem;
    animation: 5s ease-in 0s 1 logoFadeIn;

  }
  @keyframes logoFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .tweets {
    font-weight: 300;
    padding:2rem 0 0 3rem;
    text-align: left;
    color:rgb(255, 128, 0);
    font-size: 30px;
  }
  .news {
    text-align: center;
    height:600px;
    /* border: 2px solid pink; */

  }
  .grid-container {
    display: grid;
    margin: 4% auto;
    row-gap: 1rem;
    justify-content: center;
  }

  .grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .grid-element {
    background-color:#001928;
    margin:0 1rem;
    padding: 7%;    
    color: white;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 8%;
    overflow: hidden;
    box-shadow: 0 2px 20px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease-in;
  }
  
  .grid-element:hover {
    transform: scale(1.02);
  }
  
  .card_image {
    height: 200px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 8%;
  }
  .tweetTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;

  }

  h2{
    text-align: center;
 
  }
  /* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blinking {
    0% {border-color: transparent}
    50% {border-color: white}
    100% {border-color: transparent}
  } */
  

  
  /* buttons */
  .button-27 {
    
    background-color:rgb(250, 176, 102);
    border: 1px solid rgb(255, 128, 0);
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    min-height: 60px;
    min-width: 0;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-27:disabled {
    pointer-events: none;
  }
  
  .button-27:hover {
    /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
    transform: translateY(-2px);
    background-color:rgb(255, 128, 0);

  }
  
  .button-27:active {
    transform: translateY(0);
  }
  
  /* Tweet Detail */

.show {
  padding:6rem 3rem;
  width: 100vw;
  height:100vh;
  text-align: center;
  overflow-x:scroll;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 36%, rgba(221,221,221,1) 61%, rgba(191,191,191,1) 86%, rgba(176,175,174,0.9122242647058824) 100%);
  
}
.show-image {
  height:30%;
  width:30%;
  border-radius:8%;
}

/* form */
label {
  color:#001928;
  text-align: center;
}
input[type=text] {
  color: gray;
}
textarea[name=description] {
  color: gray;
  font-family:sans-serif;
}

.new {
  /* border:2px solid green; */
  /* background-color: #001928; */
  padding-top:2rem;
  margin-bottom:5%;
  height:100vh;
  width:100vw;
  text-align: center;
  background: rgb(255,255,255);

  /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 36%, rgba(221,221,221,1) 61%, rgba(191,191,191,1) 86%, rgba(176,175,174,0.9122242647058824) 100%); */

}
.detail {
  background-color:#001928;
  color:white;
  width:40%;
  position:relative;
  left:30%;
  border-radius:8%;
  padding:5rem 2rem;
  margin-top: 2rem;
  overflow-y: scroll;
}

.tweetDescription {
  margin:2rem;
  line-height: 150%;

}
form {
  background-color:#001928;
  width:40%;
  position:relative;
  left:30%;
  border-radius:8%;
  padding:2rem;
}
.textarea {
  box-sizing:border-box;
  margin:20px;
  width:54%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
}
.linkedin-icon {
  height:40px;
  width:40px;
  position: relative;
  top: 1rem;
  margin-left:-2rem;
}
.github-icon {
  height:40px;
  width:40px;
  position: relative;
  top: 1rem;
  margin-left:-2rem;
}

.github-icon1 {
  height:50px;
  width:50px;
  position: relative;
  top: 1rem;
}
.linkedin-icon1 {
  height:50px;
  width:50px;
  position: relative;
  top: 1rem;
  right:5%;
  margin-left:5%;
}


input {
  width:50%;
  margin:20px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.first-input {
  opacity: 0;
  animation: firstspan 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.second-input {
  opacity: 0;
  animation: firstspan 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-delay: 1s;
}
.third-input {
  opacity: 0;
  animation: firstspan 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-delay: 2s;
}
.forth-input {
  opacity: 0;
  animation: firstspan 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-delay: 3s;
}
.fifth-input {
  opacity: 0;
  animation: firstspan 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-delay: 4s;
}
.sixth-input {
  opacity: 0;
  animation: firstspan 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-delay: 4s;
}
.add {
  margin-top:5rem;
  opacity: 0;
  animation: logoFadeIn 1s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-delay: 5s;

}
@keyframes firstspan{
  0%{
    transform: translateX(-300%);
    opacity: 0;
  }
  100%{
    transform:translateX(0%);
    opacity:1
  }
}
/* EVENTS */

.event-container h3.year {
  font-size:40px;
  text-align: center;
  border-bottom:1px solid gray;
}

.event-container .event {
  display: flex;
  border-radius: 8px;
  margin:32px 0;
}

.event .event-left {
  background:orange;
  min-width:82px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  padding:8px 48px;
  font-weight:bold;
  text-align:center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size:56px;
}

.event .event-left .month {
  font-size:16px;
  font-weight:normal;
}

.event .event-right {
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:0 24px;
  background-color: white;
  color:black

}
.event .event-right h3.event-title {
  font-size:24px;
  margin:24px 0 10px 0;
  color:gray;
  text-transform: uppercase;

}

.event .event-right .event-timing {
  background:rgb(246, 156, 108);
  display:flex;
  align-items: center;
  justify-content: center;
  width:100px;
  padding:8px;
  border-radius: 16px;
  margin:24px 0;
  font-size:14px;
}

.event .event-right .event-timing img {
  height: 20px;
  padding-right:8px;
}


/* Footer */
.footer {
  /* border:2px solid red; */
  height: 200px;
  color:gray;
  border-top-left-radius: 70%;
  background-color:#001928;
  position:relative;
}
.first-ul {
  position:absolute;
  left:50%;
  bottom:1rem;
  line-height: 150%;
}
.second-ul {
  position:absolute;
  left:60%;
  bottom:1rem;
  line-height: 150%;

}
.third-ul {
  position:absolute;
  left:70%;
  bottom:1rem;
  line-height: 150%;

}
.copyright {
  color:gray;
  position:relative;
  top:80%;
  left:2%;
  z-index:1;
}

.footer-logo {
  height:15px;
  width:15px;
  
}
.footer-l {
  height:100px;
  width:100px;
  position:relative;
  padding-top: 1%;
  left:90%;
}
.loginButton:disabled {
  cursor:not-allowed;
  background-color:coral;
}